@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Abel&family=Luckiest+Guy&family=Patrick+Hand&display=swap');

body {
    background-color: #ff99001e;
    font-family: 'Patrick Hand';
}

/*Header*/
.navegador {
    background-color: #0260d241;    
}
.navegador a {
    color: #025ED2;
    font-size: 0.7cm;
}
.sidenav li a {
    color: #D10163;
    font-size: 0.7cm;
}
.navegador .sidenav img {
    margin: auto;
    display: block;
}
.logo {
    margin: 0 auto 4.3595px auto ;
    width: 64.649%;
    min-width: 200px;
    max-width: 320px;
    display: block;
}

/*Main*/
main .container {
    background-color: white;
}
h2, h4, h5 {
   color: #025ED2;
}

.cor {
    background-color: #0260d228;
}
.paragrafo {
    color: #D10163;
    font-size: 0.7cm;
}
.sobre .paragrafo {
    text-indent: 50px;
    text-align: justify;
}
.paragrafo em {
    color: #0260d2cb;
    font-style: normal;
}
/*Bem-Vindo*/
/*Sobre nós*/
/*Recursos*/

/*Contato*/
.contato {
    margin-bottom: 0;
}
.formulario {
    width: 100%;
    height: 100%;
    background-color: white;
}
.formulario label {
    font-size: 0.5cm;
}
.assunto {
    display: inline;
    width: auto;
    color: #D10163;
}
.textarea {
    height: 5rem;
}

div > iframe {
    position: relative;
    width: 100%;
    height: 100%;  
}
.contato div {
    height: 404px;
}

/*Footer*/
footer {
    width: 100%;
    text-align: center;
    margin: auto; 
    background-color: #025ED2; 
}

footer .membros {
    margin: 0 auto;
    display: inline;
    color: white;
    font-size: 0.6cm;
}

/*---Notícias---*/
/*Main*/
article {
    margin:0 auto;
    max-width:1280px;
    width:90%;
    background-color: white;
    border-radius: 10px 10px 0px 0px;
    margin-bottom: 10px;
    padding: 0.2px 10px;
}

