@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Abel&family=Luckiest+Guy&family=Patrick+Hand&display=swap');

body {
    background-color: #ff99001e;
}

/*Header*/
#navegador {
    background-color: #0260d241;    
}
#navegador a {
    color: #025ED2;
    font-family: 'Patrick Hand';
    font-size: 0.7cm;
}
#navegador .sidenav img {
    margin: auto;
    display: block;
}
#logo {
    margin: 0 auto 4.3595px auto ;
    width: 64.649%;
    min-width: 200px;
    max-width: 320px;
    display: block;
}

/*Main*/
main .container {
    background-color: white;
}
h2, h4, h5 {
   color: #025ED2;
}

.cor {
    background-color: #0260d228;
}
.texto {
    font-family: 'Patrick Hand';
}
.texto p {
    color: #D10163;
    font-size: 0.7cm;
}
.texto .indent {
    text-indent: 50px;
    text-align: justify;
}
.texto em {
    color: #0260d2cb;
    font-style: normal;
}
.texto div {
    height: 100%;
}
/*Bem-Vindo*/
/*Sobre nós*/
/*Recursos*/

/*Contato*/
#contato {
    margin-bottom: 0;
}
#formulario {
    width: 100%;
    height: 100%;
    background-color: white;
}
#assunto {
    display: inline;
    width: auto;
}
#textarea {
    height: 5rem;
}
div#iframe{
    position: absolute;
    
}
div > iframe {
    position: relative;
    width: 100%;
    height: 100%;  
}
.contatos div {
    height: 404px;
}

/*Footer*/
footer {
    width: 100%;
    text-align: center;
    margin: auto; 
    background-color: #025ED2; 
}

footer p {
    margin: auto;
    color: white;
    font-size: 0.6cm;
    font-family: 'Patrick Hand';
}
